/* Fullscreen background styling */
body{
    background-color: black;
    margin: 0px;
    padding:0px;
}
.header-container {
  text-align: center; /* Aligns content to the center */
  margin-bottom: 2em; /* Provides spacing below the header */
}

.profile-photo {
  max-width: 100px; /* Adjust to desired size */
  border-radius: 50%; /* Makes the photo circular */
  margin-bottom: 1em; /* Space below the photo */
}

.header-container h1 {
  color: #fff; /* Text color for the name */
  margin-bottom: 0.5em; /* Space below the name */
}

.header-container p {
  color: #aaa; /* Text color for the title/subtitle */
  margin-bottom: 1em; /* Space below the title/subtitle */
}

.contact-me-btn {
  padding: 10px 20px; /* Padding inside the button */
  border: none; /* No border for the button */
  border-radius: 5px; /* Rounded corners for the button */
  background-color: #fff; /* Button background color */
  color: #000; /* Button text color */
  cursor: pointer; /* Changes cursor to indicate the button is clickable */
  font-weight: bold; /* Makes the button text bold */
  text-transform: uppercase; /* Uppercases the button text */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.contact-me-btn:hover {
  background-color: #f0f0f0; /* Slightly changes button color on hover */
}
.fullscreen-container {
    position: relative;

  width: 100vw;
  height: 100vh;
  background: url('./fullscreen-background.jpg') no-repeat center center fixed; 
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.slide-container {
  width: 40vw;
  color:white;
  text-align: center;

  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; /* Center the container in the carousel window *
    background: rgba(255, 255, 255, 0.1); /* Adjust the color and opacity to your liking */
  border-radius: 15px; /* Rounded corners */
  backdrop-filter: blur(10px); /* Blurred glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Slight border for defined edges */
  padding: 20px; /* Padding inside the container */
  margin: auto; /* Center the container in the carouzsel window */

}.carousel .control-arrow {
  opacity: 1; /* Ensure arrows are visible */
  z-index: 23; /* Ensure arrows are above other content */
  background-color: black; /* Dark background for better visibility */
  border-radius: 50%; /* Circular background */
  width: 50px; /* Size of the arrow container */
  height: 50px; /* Size of the arrow container */

  transform: translateY(875%); /* Adjust based on height to center vertically */
}.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: white;
  text-align: center;
  z-index: 10; /* Ensure it appears above the background but below the arrow button */
  transition: opacity 0.5s ease-in-out; /* Smooth transition for appearing/disappearing */
}
.slide-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.skills-header h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 1em; /* Adjust as needed */
}
.skills-section {
  background: #222; /* or any color that matches your design */
  padding: 20px;
  border-radius: 10px; /* Adjust based on your preference */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional: adds some depth */
}

.skills-title {
  color: #fff; /* Adjust text color as needed */
  margin-bottom: 20px; /* Adjust spacing as needed */
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px; /* Adjust gap size as needed */
  padding-top: 20px
}
.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #333; /* Example background color, adjust as needed */
  color: #fff; /* Text color */
  width: 100px; /* Define a fixed size for square items */
  height: 100px; /* Make height equal to the width to create a square */
  margin: 0.5em; /* Spacing between the grid items */
  border-radius: 8px; /* Optional: if you want rounded corners */
  overflow: hidden; /* Ensures the content fits within the item boundaries */
}


.skill-item img {
  max-width: 40%; /* Sets the maximum width of the image to 70% of the parent container */
  height: auto; /* Ensures the image height scales proportionally */

  margin-bottom: 0.5em; /* Space between icon and label */
  margin-top: .5em;
}

.skill-item p {
  margin: 0;
  font-size: 0.9em; /* Adjust font size as needed */
}
/* Responsive adjustments */
@media (max-width: 1200px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
.carousel .control-prev.control-arrow {
  left: 100vw; /* Adjust for positioning from the left */
  background-color: black; /* Dark background for better visibility */
  border-radius: 50%; /* Circular background */
  width: 50px; /* Size of the arrow container */
  height: 50px; /* Size of the arrow container */
}

.carousel .control-next.control-arrow {
  right: 100vw; /* Adjust for positioning from the right */
    background-color: black; /* Dark background for better visibility */
  border-radius: 50%; /* Circular background */
  width: 50px; /* Size of the arrow container */
  height: 50px; /* Size of the arrow container */
}
.start-slideshow-arrow {
  position: fixed; /* Or absolute, depending on your needs */
  top: 50%; /* Middle of the screen vertically */
  right: 20px; /* Adjust based on desired distance from the right edge */
  transform: translateY(-50%); /* Center the button vertically */
  font-size: 2em; /* Adjust size */
  cursor: pointer;
  background: none; /* Transparent background */
  border: none; /* No border */
  color: #007bff; /* Adjust arrow color */
  z-index: 100; /* Ensure it's above other content */
}/* Adjustments for smoother transitions and clarity */
.fullscreen-container .carousel-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%); /* Start off-screen to the right */
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition for opacity and horizontal movement */
}

.fullscreen-container .carousel-visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0); /* Move to original position */
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition for opacity and horizontal movement */
}


.carousel .control-arrow:before {
  /* Adjust arrow size and color */
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.carousel .control-prev.control-arrow:before {
  border-right: 15px solid #fff; /* Left arrow color */
  
}

.carousel .control-next.control-arrow:before {
  border-left: 15px solid #fff; /* Right arrow color */
}
.start-slideshow-arrow {
  font-size: 1.5em;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  color: white;
  transition: background-color 0.3s ease;
}
.slide.selected.previous {
  display: flex;
  justify-content: center; /* Horizontally center the child */
  align-items: center; /* Vertically center the child */
  height: 100%; /* Ensure the parent has a defined height */
  width: 100%; /* Ensure the parent has a defined width */
}

.start-slideshow-arrow:hover {
  background-color: #0056b3;
}

/* Initial Carousel Hidden Style */
.fullscreen-container .carousel-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Carousel Visible Style (You should add this class dynamically based on the state) */
.fullscreen-container .carousel-visible {
  opacity: 1;
  visibility: visible;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 10%; /* Adjust based on your design */
  transform: translateY(-50%);
  color: white;
  text-align: left;
  z-index: 10; /* Ensure it appears above the background but below the arrow button */
  transition: opacity 0.5s ease-in-out;
}

.hero-text h1 {
  margin: 0;
  font-size: .5em; /* Smaller text for the introductory line */
}

.hero-text h2 {
  margin: 10px -2px;
  font-size: 1em; /* Larger text for the name */
  font-weight: bold; /* Makes the name stand out */
}

.hero-text h3 {
  margin: 0;
  font-size: .5em; /* Subtitle text for the profession */
}
.email-input-container input[type="email"]{
  
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for the glass effect */
  backdrop-filter: blur(5px); /* Blurred glass effect */
  -webkit-backdrop-filter: blur(5px); /* For Safari */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 5px; /* Rounded corners for the input and button */
  padding: 8px 16px; /* Padding inside the input and button */
  margin: 0 -5px; /* Spacing between the input and button */
  font-size: 0.5em; /* Smaller font size */
  color: #fff; /* White text color for better visibility */
  
  
}
.email-input-container button {
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for the glass effect */
  backdrop-filter: blur(5px); /* Blurred glass effect */
  -webkit-backdrop-filter: blur(5px); /* For Safari */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 5px; /* Rounded corners for the input and button */
  padding: 8px 16px; /* Padding inside the input and button */
  margin: 0 5px; /* Spacing between the input and button */

  font-size: 0.5em; /* Smaller font size */
  color: #fff; /* White text color for better visibility */
}

.email-input-container input[type="email"] {
  width: auto; /* Adjust width to fit content or use a fixed width */
  flex-grow: 1; /* Allows the input to grow and fill the available space */
}
.close-button {
  position: absolute;
  top: 20px; /* Adjust as necessary */
  right: 20px; /* Adjust as necessary */
  background: transparent;
  border: none;
  color: white; /* Initial color of the X */
  font-size: 24px; /* Adjust size as necessary */
  cursor: pointer;
  z-index: 100; /* Ensure it's above the carousel */
  transition: color 0.3s ease; /* Transition for color change */
}

.close-button:hover {
  color: red; /* Color changes to red on hover */
}


.email-input-container button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.email-input-container button:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Slightly darker on hover */
}

/* Ensure the text is not hidden when the slides are not showing */
.hidden {
  opacity: 1;
  visibility: visible;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Sets exactly two columns per row */
  gap: 4rem; /* Adjust for desired spacing between projects */
  margin: 1rem; /* Adjust for desired grid margin */
}

.project-item {
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  align-items: center;
  cursor: pointer;
  text-decoration: none; /* Removes underline from links if you use 'a' tags */
}

.project-item img {
  width: 100%; /* Adjust if you want some padding around the image */
  height: 120px;
  aspect-ratio: 1 / 1; /* Keeps the image as a square */
  object-fit: contain; /* Ensures the image covers the area without stretching */
}

.project-item p {
  margin-top: 0.5rem; /* Adjust for desired spacing between image and title */
}

/* Hover effect for project items */
.project-item:hover,
.project-item:focus {
  transform: translateY(-5px); /* Creates a small lift effect */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional shadow for depth */
}
@media only screen and (max-width: 400px) { /* Adjust for iPhone 12 width */
.slide-container {
  width: 80vw;
  color:white;
  text-align: center;

  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; /* Center the container in the carousel window *
    background: rgba(255, 255, 255, 0.1); /* Adjust the color and opacity to your liking */
  border-radius: 15px; /* Rounded corners */
  backdrop-filter: blur(10px); /* Blurred glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Slight border for defined edges */
  padding: 20px; /* Padding inside the container */
  margin: auto; /* Center the container in the carouzsel window */

}

.fullscreen-container {
  width: 95vw;
  height: 95vh;
  background: url('./fullscreen-background.jpg') no-repeat center center fixed; 
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
    overflow-x: hidden;
  overflow-y: hidden;
}

@media only screen and (max-width: 390px) {
  .carousel .control-prev.control-arrow {
    left: 10px; /* Fixed distance from the left */
  }

  .carousel .control-next.control-arrow {
    right: 10px; /* Fixed distance from the right */
  }

  .start-slideshow-arrow {
    /* Make sure this button doesn't overlap with the next arrow on small screens */
    right: 60px; /* Adjusted so it doesn't conflict with the arrow */
  }
}
}@media only screen and (max-width: 390px) {
 .start-slideshow-arrow {
    /* You may need to adjust the translateY value as well if you change the top value */
    background-color: lightgreen;
    width: 35px;
    height: 35px;

  }
   .close-button {
    top: 10px;
    right: 10px;
    font-size: 20px; /* Adjust size for smaller screens */
  }
}@media (max-width: 600px) {
  .hero-text {
    font-size: 1.5em; /* Smaller font size on smaller screens */
  }

  input[type="email"],
  .contact-me-btn {
    width: 90%; /* Allow the input and button to take more space */
  }
}